/*
 * Globals
 */
 @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #303841;
}

h1 {
  text-align: left;
  color: #f3f3f3;
  font-size: 30px !important;
  padding-bottom: 20px;
}

h2 {
  text-align: left;
  font-size: 20px !important;
  /** text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); **/
  padding-bottom: 20px;
}

h4 {
  font-size: 20px !important;
  margin: 10px 10px 10px 10px;
}

h5 {
  font-size: 18px !important;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  color: #f3f3f3;
}

h6 {
  margin: 0 17%;
  padding: 7px 0 10px 0;
}

p {
  font-size: 15px !important;
}

.btn {
  width: 150px;
  border-radius: 4%;
  float: left;
  margin-left: 3%;
}

.row {
  height: 100% !important;
}


.vh-60 {
  height: 60%;
}

/*
 * Header
 */


 header {
  /*background-image: url(../img/IMG_7899.jpg); 
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50% auto;
  */
  background: rgb(243,243,243);
  background: linear-gradient(90deg, rgba(243,243,243,1) 50%, rgb(36, 39, 44)50%);
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

  

/* navigation */
.navbar {
  display: inline;
  position: absolute;
  margin: 56px 0px 0px 100px;
}

.nav_links {
  display: inline-flex;
  list-style: none;
}

.nav_links li {
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #edd5ab;
  transition: 0.5s;
}

.dropbtn {
  color: white;
  background: none;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(36, 39, 44);
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  margin-left: 12px;
  color: #f3f3f3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header__btns {
  float: left;
}

.h1btn {
  background: rgb(36, 39, 44);
  color: #f3f3f3;
  min-width: 150px;
  min-height: 40px;
  border-radius: 12px;
  margin: 20px 0 0 0;
}

.h2btn {
  background: rgba(255, 255, 255, 0);
  color: rgb(36, 39, 44);
  min-width: 150px;
  min-height: 40px;
  border-radius: 12px;

}
.container-fluid {

}
.welcome__single {
  padding: 0 7% 0 7%;
  text-align: center;
  align-self: center;
}
.welcome__single--1 {

}
.welcome__single--2 {
  padding: 0 7% 0 7%;
}

.welcome__single__img {
  display: flex;
  position: absolute;
  left: 50%;
  margin-left: -75px;
}

.socials {

}

.social {
  display: inline-block;
  background: #f3f3f3;
  color: #26343c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  padding-top: 5px;
  transition: .5s;
}

.social {
  background: #0f1217 !important;
  color: #f3f3f3 !important;
}

.icon__container {
  display: inline-block;
  text-align: center;
}

.social:hover, .social:hover {
  color: #edd5ab !important;
}

/*
 * cards
 */

img {
  vertical-align: middle;
}

.container-fluid {
   height: 70%;
}

.bg-custom {
  background-color: #26343c !important;
}

.bg-custom-2 {
  background-color: #f3f3f3 !important;
}


.card-size {
  min-height: 100%;
}

.card__container--size {
  overflow:hidden
}

.card {
  transition: transform 0.5s; 
  -webkit-transition: -webkit-transform 0.5s
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.display__content {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.card__container--size:hover .card{
  transform: scale(1.5); -webkit-transform: scale(1.5);
}

.card__container--size:hover .card {
  opacity: 0.3;
}

.container:hover .display__content {
  opacity: 1;
}

.card-title {
  position: absolute;
  bottom: 5%;
  padding: 5%;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .8);
}

.card-text {
  position: absolute;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .8);
  bottom: 0%;
  padding: 5%;
  font-size: 0.8em;
}

.info-card {
  padding: 3% 3% 0 3%;
}


/* buttons */
.btn-1 {
  display: inline-block;
  background: #f3f3f3;
  color: #26343c;
  width: 120px;
  text-align: center;
  padding-top: 5px;
  transition: .5s;
}

.btn-1:hover {
  background-color: #f7f7f7; 
  color: #edd5ab;
}

.btn-2 {
  display: inline-block;
  background-color: #26343c; 
  color: #f3f3f3;
  width: 120px;
  text-align: center;
  padding-top: 5px;
  transition: .5s;
}

.btn-2:hover {
  background-color: #26343c; 
  color: #edd5ab;
}

@media (max-width: 320px) {
  span {
    display: none;
  }
}

@media (max-width: 404px) {
  header {
    height: 100% !important;
    min-height: 900px !important;
  }
  .welcome__single__img {
  }
  .welcome__single {
  }
  h1 {
    padding-top: 25px;
  }
}

@media (max-width: 495px) {
  h1, h2 {
    margin: 0 0% 0 5% !important;
  }
  .info, .contact {
    text-align: center;
  }

  .btn-1, .btn-2 {
    display: block;
    width: auto;
  }
} 

@media (max-width: 767px) {
  header {
    background: rgb(243,243,243);
    height: 80%;
    min-height: 700px !important;
  }

  .container-fluid {
    background-image: url(../img/bg-white.png);
    background-position-y: bottom;
  }

  .card__container--size {
    height: 50%;
  }
  .icon__container {
    width: 50px;
  }

  h1, h2 {
    color: #26343c !important;
  }

  h1 {
    text-align: left;
    font-size: 27px !important;
  }

  h1, h2 {
    margin: 0 0% 0 10%;
  }

  h6 {
    margin: 0 5% !important;
  }

  span {
    display: none;
  }

  .welcome__single--2, .welcome__single--3 {
    display: none;
  }

  .welcome__single {
    padding: 220px 0 0 0 !important;
    align-self: auto !important;
  }
  .welcome__single__img {
    display: flex !important;
    align-self: auto !important;
    justify-content: center !important;
    padding-top: 50px;
  }
  
  .social {
    color: #f3f3f3;
    background-color: #26343c;
  }

  .services {
    justify-content: space-evenly;
  }

  .header__btns {
    display: inline;
    float: none;
  }

}

@media (max-width: 1000px) {
  .navbar {
    display: none;
  }
}

@media (max-height: 770px) {
  .welcome__single--1 {
    padding-top: 100px;
  }
}

@media (max-height: 890px) {
  header {
    height: 100% !important;
  }

}

@media (min-height: 891px) {
  .scroll__container {
    display: none;
  }
}

@media (max-height: 500px) {
  .scroll__container {
    display: none;
  }
}