/*
 * Globals
 */
 @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #303841;
}

h1 {
  text-align: center;
  color: #f3f3f3;
  font-size: 30px !important;
  margin: 25px 25px 25px 25px;
}

h2 {
  font-size: 20px !important;
  /** text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); **/
  margin: 20px 20px 20px 20px;
}

h4 {
  font-size: 20px !important;
  margin: 10px 0 10px 0;
}

h5 {
  font-size: 18px !important;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  color: #f3f3f3;
}

p {
  font-size: 15px !important;
}

.row {
  height: 100% !important;
}


/*
 * Header
 */


 header {
  /*background-image: url(../img/IMG_7899.jpg); 
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50% auto;
  */
  background: rgb(243,243,243);
  background: linear-gradient(90deg, rgba(243,243,243,1) 50%, rgb(38, 52, 60) 50%);
  height: 60%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}



.welcome__single {
  margin: 50px 0px 50px 0px;
  text-align: center;
  align-self: center;
}

.welcome__single--1 {
  padding: 0 7% 0 7%;
}

.welcome__single--2{
  padding: 0 7% 0 7%;
}

.welcome__single__img {
  display: flex;
  align-self: center;
  width: 15%;
  position: absolute;
}

.socials, .services {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.social {
  display: inline-block;
  height: 50px;
  font-size: 20px;
  padding: 10px 20px;
  color: #303841;
  border-radius: 50%;
  transition: .5s;
  background-color: #f3f3f3;
  margin-left: 0.5em !important;
}


.service {
  display: inline-block;
  height: 50px;
  font-size: 20px;
  padding: 10px 20px;
  color: #f3f3f3;
  border-radius: 50%;
  transition: .5s;
  background-color: #26343c;
  margin-left: 0.5em !important;
}

.icon__container {
  display: block;
  width: 200px;
  text-align: center;
}

.service:hover {
  color: #edd5ab !important;
}

.social:hover {
  color: #edd5ab !important;
}



/*
 * cards
 */

img {

  vertical-align: middle;
}

.container-fluid {
   height: 40%;
}

.bg-custom {
  background-color: #26343c !important;
}

.bg-custom-2 {
  background-color: #f3f3f3 !important;
}


.card-size {
  min-height: 100%;
}

.card__container--size {
  overflow:hidden
}

.card {
  transition: transform 0.5s; 
  -webkit-transition: -webkit-transform 0.5s
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.display__content {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.card__container--size:hover .card{
  transform: scale(1.5); -webkit-transform: scale(1.5);
}

.card__container--size:hover .card {
  opacity: 0.3;
}

.container:hover .display__content {
  opacity: 1;
}

.card-title {
  position: absolute;
  bottom: 5%;
  padding: 5%;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .8);
}

.card-text {
  position: absolute;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .8);
  bottom: 0%;
  padding: 5%;
  font-size: 0.8em;
}

.info-card {
  text-align: center;
}


/* buttons */
.btn-1 {
  background-color: #f3f3f3; 
  color: #26343c;
}

.btn-1:hover {
  background-color: #f7f7f7; 
  color: #edd5ab;
}

.btn-2 {
  background-color: #26343c; 
  color: #f3f3f3;
}

.btn-2:hover {
  background-color: #26343c; 
  color: #edd5ab;
}



@media (max-width: 404px) {
  header {
    height: 100% !important;
    min-height: 900px !important;
  }

  .welcome__single {
  }
  .welcome__single--1 {
    margin-top: 40% !important;
    padding: 0 10% 0 10% !important;
  }
  .welcome__single--2 {
    padding: 0 10% 0 10% !important;
  }
  .welcome__single__img {
    width: 50% !important;
}
}

@media (max-width: 767px) {
  header {
    background: rgb(243,243,243);
    height: 80%;
    min-height: 900px !important;
  }
  .card__container--size {
    height: 50%;
  }
  .icon__container {
    width: 100px;
  }

  h1, h2 {
    margin: 0;
    color: #26343c !important;
  }
  h2 {
    margin-top: 15px;
  }
  
  .welcome__single {
    text-align: left;
    margin: 0;
  }
  .welcome__single--1 {
    margin-top: 33%;
  }
  .welcome__single--2 {

  }
  .welcome__single__img {
    display: flex !important;
    align-self: auto !important;
    justify-content: center !important;
    width: 30%;

  }
  span {
    display: none;
  }
  
  .social {
    color: #f3f3f3;
    background-color: #26343c;
  }

  .scroll__container {
    display: none;
  }

}

@media (max-width: 992px) {


}

@media (max-width: 1200px) {



}

@media (max-height: 890px) {
  header {
    height: 100% !important;
  }

  .scroll__container {
    position: absolute;
    bottom: 20px;
    text-align: center;
  }
  .scroll {
    display: inline-block;
    height: 50px;
    font-size: 20px;
    padding: 10px 20px;
    color: #f3f3f3;
    border-radius: 50%;
    transition: .5s;
    background-color: #26343c;
    border: 2px solid #edd5ab;
  }
  
  .scroll:hover {
    color: #edd5ab !important;
  }

}

@media (min-height: 891px) {
  .scroll__container {
    display: none;
  }
}

@media (max-height: 500px) {
  .scroll__container {
    display: none;
  }
}